
@font-face {
    font-family: "cursive";
    src: url(../storage/fonts/PlaywriteGBS-Italic.ttf);
}
@font-face {
    font-family: "robot";
    src: url(../storage/fonts/MartianMono-VariableFont_wdth\,wght.ttf);
}

