body {
  /* background-color: #f7deac; */
  background-image: url(../storage/img/vecteezy_brushed-painted-abstract-background-a-digital-abstract_3862887.jpg);
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #000;
  width: 100%;
  height: 70px; 
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 20px;
  transition: border-radius 0.3s ease;
  border: 3px solid #fff;
}
.header p {
  margin-left: auto;
  margin-right: auto; 
  color: #fff;
  margin-top: 25px;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
.header img {
  margin-left: 40px;
  cursor: pointer;    
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.dropdown {
  border-radius: 10px;
  display: none;
  position: absolute; 
  top: 67px; 
  left: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 7px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.dropdown a {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.dropdown a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fbf7ee;
  transition: all .35s;
  border-radius: 10px;
  z-index: 0;
}
.dropdown a:hover {
  color: #000;
  z-index: 1;
  background-color: transparent;
}
.dropdown a:hover:after {
  width: 100%;
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
  margin-right: 40px;
}
.boxes a {
  text-decoration: none;
}
.box-1 {
  margin-top: 27px;
  margin-left: auto;
  margin-right: 20px;
}
.btn-one {
  color: white;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: white;
  border-bottom-color: white;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
.header.scrolled {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 768px) {
  .dropdown {
      display: block;
  }

  .boxes {
      display: none;
  }
}
@media screen and (min-width: 769px) {
  .dropdown {
      display: none;
  }

  .boxes {
      display: flex;
  }
}
.dropdown {
  display: none;
}
.dropdown.active {
  display: block;
}
.home {
  width: 100%;
  height: 670px;
  margin-top: 20px;
}
.home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.home_bg {
  width: 97%;
  height: auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7px;
}
.home_bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  top: 0;
  left: 0;
}
.home_bg h1 {
  font-size: 8vw;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.home_bg h2 {
  font-size: 4vw;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 768px) {
  .home_bg h1 {
      font-size: 10vw;
      width: 90%; 
      margin-bottom: 15px;
  }
  .home_bg h2 {
      font-size: 6vw;
      width: 80%;
      padding: 8px;
  }
}
@media (min-width: 1200px) {
  .home_bg h1 {
      font-size: 60px;
  }

  .home_bg h2 {
      font-size: 30px;
  }
}
.home_text {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.my_image {
  width: 120px;
  height: 120px;
  z-index: 3;
  position: absolute;
  right: 10px;
  border-radius: 100%;
  overflow: hidden;
}
.my_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (min-width: 768px) {
  .my_image {
    width: 250px;
    height: 250px;
    right: 30px;
  }
}
.habilities {
  width: 100%;
  height: 500px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.card_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.row_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  gap: 7px;
}
.row_2 {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 7px;
}
.card {
  width: 200px;
  height: 100px;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 50%;
  height: 50%;
  backface-visibility: hidden;
}
.card-front {
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transform: rotateY(0deg);
  height: auto;
  width: 100%;
}
.card-front img {
  width: 100px;
}
.card-back {
  background-color: #FAF0DC;
  color: #000;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 32px;
  transform: rotateY(180deg);
  height: auto;
  width: 100%;
  border: 1px solid #000;
}
.card-back p {
  font-family: 'Montserrat', sans-serif;
}
